*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metals/metals.mv.db
etf_dw_etl/README.md
.vscode/settings.json
etf_dw_etl/tree.txt
etf_dw_etl/src/main/resources/config.properties
